@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  overflow-y: auto;
}

html,
body {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: var(--font-suit), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > div {
  max-width: 768px;
}

* {
  font-family: var(--font-suit), sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  word-break: keep-all;
  user-select: none;
}
button:focus {
  outline: none;
}
